<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- -->
    <script th:replace="common/head::static"></script>

    <!-- -->
    <script src="https://cdn.bootcss.com/jquery/1.10.2/jquery.min.js"></script>

    <!-- -->
    <link th:href="@{/sys/user/css/user.css}" rel="stylesheet" type="text/css"/>

    <script th:inline="javascript">
        //
        // ctx = /*[[@{/}]]*/'';
        ctx = [[${#request.getContextPath()}]];//
    </script>
</head>
<body>
<form id="uploadForm" enctype="multipart/form-data" class="layui-form layui-form-pane" method="post">
    文件（**数据从第二行开始，文件最大500k（大概4万条数据））：<input id="file" type="file" name="file"/>
</form>
<button onclick="uploadFile()" style="margin-top: 1.1em;" class="layui-btn layui-btn-sm" >上传文件导入数据<i class="layui-icon layui-icon-set-sm" style="margin-left: 5px;"></i></button>
<button onclick="deleteAll()" style="margin-top: 1em;margin-left: 0.9em;" class="layui-btn layui-btn-sm" >清空历史数据<i class="layui-icon layui-icon-delete" style="margin-left: 5px;"></i></button>
<button onclick="downResultFile()" style="margin-top: 1.1em;" class="layui-btn layui-btn-sm" >计算获利<i class="layui-icon layui-icon-download-circle" style="margin-left: 5px;"></i></button>
<div class="tree" id="tree" style="margin-top: 10px;"></div>
</body>

<script type="text/javascript">
    var layer;
    layui.use('layer', function(){
        layer = layui.layer;
    });

    function downResultFile(){
        debugger;
        var index = layer.load(2, {time: 3600*1000,shade: [0.3, '#393D49']});

        $.ajax({
            type: 'post',
            url: ctx + '/money/calcuUserLevel',
            data: null,
            dataType : 'json',
            cache: false,
            processData: false,
            contentType: false,
        }).success(function (data) {
            debugger;
            //
            layer.close(index);
            alert("计算完成")
        }).error(function () {
            //
            layer.close(index);
            alert("计算完成");
        });
    }

    function uploadFile(){
        debugger;
        var formData = new FormData($('#uploadForm')[0]);

        var index = layer.load(2, {time: 3600*1000,shade: [0.3, '#393D49']});
        $.ajax({
            type: 'post',
            url: ctx + '/money/uploadFile',
            data: formData,
            dataType : 'json',
            cache: false,
            processData: false,
            contentType: false,
        }).success(function (data) {
            debugger;
            //
            layer.close(index);
            alert("上传成功")
        }).error(function () {
            //
            layer.close(index);
            alert("上传成功");
        });
    }

    function deleteAll(){
        debugger;
        var index = layer.load(2, {time: 3600*1000,shade: [0.3, '#393D49']});

        $.ajax({
            type: 'post',
            url: ctx + '/money/deleteAll',
            data: null,
            dataType : 'json',
            cache: false
        }).success(function (data) {
            debugger;
            layer.close(index);
            alert("清空历史数据成功")
        }).error(function () {
            layer.close(index);
            alert("清空历史数据成功")
        });
    }
</script>
</html>