<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- -->
    <script th:replace="common/head::static"></script>

    <!-- -->
    <script src="https://cdn.bootcss.com/jquery/3.6.0/jquery.min.js"></script>

    <!-- -->
    <link th:href="@{/sys/authority/css/authority.css}" rel="stylesheet" type="text/css"/>

    <script th:inline="javascript">
        //
        // ctx = /*[[@{/}]]*/'';
        ctx = [[${#request.getContextPath()}]];//
    </script>
</head>
<body>
<div class="layui-col-md6" style="width: 100%;">
    <div class="layui-card">
        <div class="layui-card-body">
            <div class="layui-table-tool" style="width: 97%;">
                <div class="layui-table-tool-temp">
                    <div >

                        <span>账号/手机号：</span>
                        <input type="text" id="userId" name="userId" autocomplete="off" style="width:9em;height: 2em;margin-right: 0.5em;"
                               placeholder="请输入账号/手机号">
                        <span>发展层级数（区间）：</span>
                        <input type="text" id="fzLevel" name="fzLevel" autocomplete="off" style="width:6em;height: 2em;margin-right: 0.5em;"
                        placeholder="示例：1-10">
                        <span>发展人数（区间）：</span>
                        <input type="text" id="fzNum" name="fzNum" autocomplete="off" style="width:6em;height: 2em;margin-right: 0.5em;"
                               placeholder="示例：1-100">
                        <span>备注：</span>
                        <input type="text" id="remark" name="remark" autocomplete="off" style="width:6em;height: 2em;margin-right: 0.5em;"
                        placeholder="请输入备注">
                        <button class="layui-btn layui-btn-sm" lay-event="query" onclick="showPage(1)">查询</button>
                        <button class="layui-btn layui-btn-sm" lay-event="query" onclick="downResultFile()">到处查询结果</button>

                    </div>
                </div>
            </div>
            <!-- -->
            <div class="layui-table-box">
                <div class="layui-table-header" style="width: 99.7%;">
                    <table cellspacing="0" cellpadding="0" border="0" class="layui-table">
                        <thead>
                        <tr>
                            <th style="width: 10%;">账号/手机号</th>
                            <th style="width: 10%;">上级账号/手机号</th>
                            <th style="width: 10%;">层级</th>
                            <th style="width: 10%;">发展层级</th>
                            <th style="width: 11%;">下级账号数量</th>
                            <th>层级线</th>
                            <th style="width: 10%;">本人投资额</th>
                            <th style="width: 10%;">下线投资额</th>
                            <th style="width: 20%;">备注</th>
                        </tr>
                        </thead>
                    </table>
                </div>
                <div class="layui-table-body layui-table-main">
                    <table id="userTable" cellspacing="0" cellpadding="0" border="0" class="layui-table" style="width: 99.6%;">
                    </table>
                </div>
            </div>
            <div class="layui-table-page">
                <div id="tablePage" class="layui-box layui-laypage layui-laypage-default"></div>
            </div>
        </div>
    </div>
</div>
</body>


<script type="text/javascript">

    function downResultFile(){
        debugger;
        var userId = $('#userId').val();
        var fzLevel = $('#fzLevel').val();
        var fzNum = $('#fzNum').val();
        var remark = $('#remark').val();

        $.ajax({
            url: ctx + '/userLevel/downQueryResult',
            xhrFields: {
                responseType: "arraybuffer"
            },
            type:"post",
            data: {
                userId: userId,
                fzLevel: fzLevel,
                fzNum: fzNum,
                remark: remark
            },
            success:function(data){
                /* */
                let blob = new Blob([data], {
                    type: "application/vnd.ms-excel;charset=UTF-8"
                })
                let downloadUrl = window.URL.createObjectURL(blob)
                let link = document.createElement('a')
                link.href = downloadUrl
                link.download = '用户层级报表.xlsx'
                document.body.appendChild(link)
                link.click()
                document.body.removeChild(link)
                window.URL.revokeObjectURL(downloadUrl)
            }
        })

    }

    function gotoChildren(userId) {
        debugger;

        window.open("/userlevellist");
    }

    $(function(){
        showPage(1);
    });
    function showPage(page){
        debugger;
        var userId = $('#userId').val();
        var fzLevel = $('#fzLevel').val();
        var fzNum = $('#fzNum').val();
        var remark = $('#remark').val();
        $.ajax({
            type:"post",
            url: ctx + '/userLevel/listByPage',
            dataType:"json",
            data: {
                'userId':userId,
                'fzLevel':fzLevel,
                'fzNum':fzNum,
                'remark':remark,
                'page':page,
                'pageSize':20
            },
            cache: false,
            success:function(data){
                debugger
                var rows = data.data.records; //
                var page = data.data.page;
                var pageSize = data.data.pageSize;
                data = data.data.rows;
                var pageNum = Math.ceil(rows/pageSize); //
                var content = '<tbody>';
                for(var i=0;i<data.length;i++){
                    content += '<tr>' +
                        '<td style="width: 10%;">'+data[i].name+'</td>' +
                        '<td style="width: 10%;">'+data[i].parent+'</td>' +
                        '<td style="width: 10%;">'+data[i].level+'</td>' +
                        '<td style="width: 10%;">'+data[i].fzLevel+'</td>' +
                        '<td style="width: 11%;">' +
                        '<a style="color: deepskyblue;font-weight: 600;" href="/userlevellist2?userId='+data[i].name+'">'+data[i].childrenNum+'</ a>' +
                        '</td>' +
                        '<td >'+data[i].parentLongId+'</td>' +
                        '<td style="width: 10%;">'+data[i].money+'</td>' +
                        '<td style="width: 10%;">'+data[i].totalMoney+'</td>' +
                        '<td style="width: 20%;">'+data[i].remark+'</td>' +
                        '</tr>';
                }
                $("#userTable").empty();
                $("#userTable").append(content);

                var pageContent = '';
                if(page == 1){
                    pageContent += '<a href="#" class="layui-laypage-prev layui-disabled">《</a>';
                }else{
                    pageContent += '<a href="javascript:showPage('+(page-1)+')" >《</a>';
                }

                var startPageNum = 1;
                var endPageNum = pageNum;
                if (pageNum > 10) {
                    if (page > 5) {
                        startPageNum = page - 4;
                        endPageNum = page +5;
                    } else {
                        endPageNum = 10;
                    }
                }
                for(var i=startPageNum;i<=endPageNum;i++){
                    if(i == page){
                        pageContent += '<a href="javascript:showPage('+i+')" class="layui-laypage-prev layui-disabled">'+i+'</a>';
                    }else{
                        pageContent += '<a href="javascript:showPage('+i+')">'+i+'</a>';
                    }
                }

                if(page == pageNum){
                    pageContent += '<a href="#" class="layui-laypage-prev layui-disabled">》</a>';
                }else{
                    pageContent += '<a href="javascript:showPage('+(page+1)+')" >》</a>';
                }

                pageContent += '<span class="layui-laypage-count">' +
                    '共'+rows+'条记录 / '+pageNum+'页' +
                '</span>>';
                $("#tablePage").empty();
                $("#tablePage").append(pageContent);
            }
        });
    }
</script>
</html>